<%= form_tag("/format_csv", method: "post", class: "format_csv_form") do %>
  <h1 class="h3 mb-3 font-weight-normal">Format CSV String</h1>
  <div class="input-group mb-3">
    <%= label_tag(:format_csv, "Enter CSV String") %>
    <%= text_area_tag(:csv_string, nil, class: "app_input") %>
  </div>
  <div class="input-group mb-3">
    <%= label_tag(:format_csv, "Select Columns") %>
    <%= select_tag(:columns, options_for_select(2..10), class: "custom-select") %>
  </div>
  <div>
    <%= button_tag("Format", class: "btn btn-lg btn-primary btn-block") %>
  </div>
<% end %>

<%= render partial: 'formatted_table' %>